# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
!bokukae_sce.dat
!bokukae_sce.dat.bak
!bokukae_define.dat

# Images
!y_01.png
!y_02.png
!y_03.png
!y_04.png
!auto_battle.png
!mer.png
!michi.png
!result.png
!skill_bg.png
!skill_tree.png